body{
    background-image: radial-gradient(circle at 11% 37%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 50%,transparent 10%, transparent 56%,transparent 56%, transparent 100%),radial-gradient(circle at 82% 7%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 46%,transparent 46%, transparent 88%,transparent 88%, transparent 100%),radial-gradient(circle at 81% 79%, hsla(0, 73%, 49%, 0.05) 0%, hsla(251,0%,28%,0.05) 33%,transparent 33%, transparent 89%,transparent 89%, transparent 100%),radial-gradient(circle at 68% 96%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 8%,transparent 8%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 69% 20%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 84%,transparent 84%, transparent 86%,transparent 86%, transparent 100%),radial-gradient(circle at 49% 22%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 71%,transparent 71%, transparent 78%,transparent 78%, transparent 100%),radial-gradient(circle at 23% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 6%,transparent 6%, transparent 40%,transparent 40%, transparent 100%),radial-gradient(circle at 86% 33%, hsla(251,0%,28%,0.05) 0%, hsla(0, 94%, 49%, 0.05) 13%,transparent 13%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 38% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 15%,transparent 15%, transparent 61%,transparent 61%, transparent 100%),linear-gradient(0deg, hsl(167,0%,6%),hsl(167,0%,6%));
    color:aliceblue; font-family:'Courier New', Courier, monospace;
}
/* body{background-color: black;color:aliceblue;} */
/* .container{width:80vw!important;} */


.heading {font-size: 22px;font-weight:600;color:rgb(245, 246, 254);font-family:'Courier New', Courier, monospace;}
/* .top div{border:1px solid red} */
.heading.name {
    font-size: clamp(12px, 10vw, 42px);
    border: 1px solid yellocmcw !important;
  }
  

img{max-width: 100%;max-height:100%}
.toolAndlanguage img{padding:10px}

.skill .bg-secondary {
    width: clamp(100px, 20vw, 180px);
    height: clamp(100px, 20vw, 180px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
.pp{
   
    width: clamp(300px, 20vw, 400px);
    background-image: url('images/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1; 

    overflow: hidden;
    border-radius: 50%;
    overflow: hidden;
}
.pp  img{
  width:100%;
  height:auto;

    border: 3px solid rgb(2, 2, 2); 
    filter:grayscale(66);
    
}

.top-text{
    width:400px;
    height:200px;
    /* margin-left: 40px; */
  
    vborder: 3px solid rgb(81, 255, 0);
    font-family:'Courier New', Courier, monospace;
    ktext-align: center;

}

.top-text a{
    color:white;
}
.top-text p{
    line-height: 0.2cm;
}

.top-text h1{
    font-size: 50px;
    htext-align: center;

}


.top2 a{
    color:white;
    /* padding-right:5px; */
    margin-right:0px 20px;
    text-decoration: none;
}

.cv{text-align: center;}
.cv h3{background-color: rgb(7, 98, 98);padding:5px }
.cv a{color:white;margin:0px}

.toolAndlanguage,.intrests{
    margin-top: 30px;
}



.icons-main img{
    width:30px; margin:3px 5px;

}
/* .icons,.intrest{border: 1px solid white;border-radius: 8px; padding:5px} */
.icons-main, .icons1{
    display:flex;
    flex-wrap: wrap;
}

.intrestss{margin-top:60px}

.intrests,.academic{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.academics{margin-top: 50px;}
.academic table{width:100%;border:1px solid white;border-radius: 8px;}



/* Gallery section */
.hobby img, .four-images img{max-height: 150px; max-width:200px}
#gallery img{transition: 1s; filter:blur(0); filter: none; border:none}
#gallery img:hover{scale:1.01; transition: 1s;}
#gallery p{font-weight: 700}
#gallery img :hover .bg-opacity-50{;}
/* Apply blur to all images by default */
/* #gallery img:not(:hover) {
    filter: blur(1px);
    border: 3px solid red;
} */

